<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>BackChat.io Hookup</title>
    
    <link rel="stylesheet" href="stylesheets/minimalist.css">
    <link rel="stylesheet" href="stylesheets/pygment_github.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>BackChat.io Hookup</h1>
        <p>A reliable netty websocket server built on top of akka</p>
        <p class="view"><a href="https://github.com/backchatio/hookup">View the Project on GitHub <small>backchatio/hookup</small></a></p>
       <p class="view"><a href="api/#io.backchat.hookup.HookupServer">View the Scala API Docs <small>scala api docs</small></a></p>
       <p class="view"><a href="jsdoc">View the Node.js API Docs <small>node.js api docs</small></a></p>
        <ul>
          <li><a href="https://github.com/backchatio/hookup">View On <strong>GitHub</strong></a></li>
          <li><a href="api/#io.backchat.hookup.HookupServer">API docs <strong>Scala</strong></a></li>
          <li><a href="jsdoc">API docs <strong>Node</strong></a></li>
        </ul>
      </header>
      <section>
        {{ content }}
      </section>
      <footer>
        <p>Project maintained by <a href="https://github.com/backchatio">BackChat.io</a></p>
        <p>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></p>
    </footer>
    
    </div>
    <script src="javascripts/scale.fix.js"></script>
    <!--[if !IE]><script>fixScale(document);</script><!--<![endif]-->
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-240612-7");
      pageTracker._trackPageview();
      } catch(err) {}
    </script>
  </body>
</html>